body {
  max-width: 1600px;
  height: 2306px;
  margin: 0 auto;
  padding: 0;
  
  font-size: 14px;
  line-height: 24px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  color: #4e4e4e;
  
  background: #ffffff;
  background-size: 1600px auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 1170px;
  margin: 0 auto;
  
  min-height: 123px;
}

.main-header {
  min-height: 123px;
  background: url(img/header-bg.jpg) no-repeat;
  
  font-weight: 700;
  
  min-height: 123px;
}

.index-logo {
  float: left;
  width: 380px;
  margin: 0;
  padding: 0;
  
  min-height: 123px;
}

.index-logo a {
  text-decoration: none;
  color: #4e4e4e;
  font-size: 40px;
  line-height: 65px;
  padding: 30px 0 28px 0;
  display: inline-block;
  
}

.main-navigation {
  float: right;
  width: 775px;
  
  min-height: 123px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 35px;
  text-transform: uppercase;
  
}

.main-navigation li {
  float: right;
  
}

.main-navigation a {
  text-decoration: none;
  color: #4e4e4e;
  font-weight: 700;
  display: inline-block;
  padding: 47px 11px 41px 11px;
}

.main-navigation .active {
  color: #79cfbe;
}

.hero {
  background: url(img/hero-bg.jpg) no-repeat;
  font-family: 'Roboto Slab', 'Georgia', serif;
  
  min-height: 600px;
  
}

.hero h1 {
  font-size: 40px;
  line-height: 35px;
  color: #f3f3f3;
  margin-top: 0;
  padding-top: 206px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 52px;
}

.hero h2 {
  font-size: 32px;
  line-height: 35px;
  color: #a8a8a8;
  text-align: center;
}

.hero .btn {
  font-size: 14px;
  line-height: 35px;
  font-weight: 400;
  min-width: 140px;
  margin: 48px auto;
  padding: 5px 26px;
  display: block;
  border: none;
  color: white;
  text-transform: uppercase;
  background: #3f8dbf;
  border-radius: 3px;
  box-shadow: 0 4px 0 #396f92;
  
}

.features {
  min-height: 335px;
}

.features-item {
  float: left;
  width: 292.5px;
  min-height: 335px;
}

.works {
  min-height: 560px;
}

.works-item {
  float: left;
  width: 380px;
  margin-right: 15px;

  min-height: 560px;
}

.works-item:last-child {
  margin-right: 0;
}

.quote {
  min-height: 230px;
}

.footer-wrap {
  
  
  min-height: 347px;
}

.contact {
  float: left;
  width: 292.5px;
  min-height: 347px;
}

.tweets {
  float: left;
  width: 292.5px;
  min-height: 347px;
}

.popular {
  float: left;
  width: 292.5px;
  min-height: 347px;
}

.about {
  float: left;
  width: 292.5px;
  min-height: 347px;
}

footer .copyright {
  min-height: 112px;
}