body {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  
  font-size: 14px;
  line-height: 24px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  color: #4e4e4e;
  
  background: #f7f7f7;
  background-size: 1600px auto;
}
*{}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 1170px;
  margin: 0 auto;
  
  min-height: 123px;
}

.main-header {
  min-height: 123px;
  background: url(img/header-bg.jpg) no-repeat;
  
  font-weight: 700;
  
  min-height: 123px;
}

.index-logo {
  float: left;
  width: 380px;
  margin: 0;
  padding: 0;
  
  min-height: 123px;
}

.index-logo a {
  text-decoration: none;
  color: #4e4e4e;
  font-size: 40px;
  line-height: 65px;
  padding: 30px 0 28px 0;
  display: inline-block;
  letter-spacing: -3px;
}



.main-navigation {
  float: right;
  width: 775px;
  
  min-height: 123px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 35px;
  text-transform: uppercase;
  
}

.main-navigation li {
  float: right;
  
}

.main-navigation a {
  text-decoration: none;
  color: #4e4e4e;
  font-weight: 700;
  display: inline-block;
  padding: 47px 10px 41px 10px;
}

.main-navigation li:first-child a {
  padding-right: 0;
}

.main-navigation a:hover {
  background: rgba(31,31,31,0.1);
  
  
}

.main-navigation .active {
  color: #79cfbe;
}

.hero {
  background: url(img/hero-bg.jpg) no-repeat;
  font-family: 'Roboto Slab', 'Georgia', serif;
  
  min-height: 600px;
  
}

.hero h1 {
  font-size: 40px;
  line-height: 35px;
  color: #f3f3f3;
  margin-top: 0;
  padding-top: 200px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 44px;
}

.hero h2 {
  font-size: 32px;
  line-height: 35px;
  color: #a8a8a8;
  text-align: center;
}

.hero .btn {
  cursor: pointer;
  font-size: 14px;
  line-height: 35px;
  font-weight: 400;
  min-width: 140px;
  margin: 45px auto 0 auto;
  padding: 5px 20px;
  display: block;
  border: none;
  color: white;
  text-transform: uppercase;
  background: #3f8dbf;
  border-radius: 3px;
  box-shadow: 0 4px 0 #396f92;
}

.features {
  height: 335px;
}

.features-item {
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;
  float: left;
  max-width: 292.5px;
  min-height: 335px;
  text-align: center;
  padding: 60px 30px 0px 25px;
  border-bottom: 2px solid #dcdcdc;
  
}

.features-item:last-child {
  padding-right: 45px;
}

.features-item p {
  margin: 0;
  font-family: 'Roboto', 'Georgia', sans-serif;
}

.features-item h2 {
  font-family: 'Roboto Slab', 'Georgia', serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  margin: 10px 0 0 0;
  padding: 0;
}

.works {
  
}

.works h1 {
  font-size: 18px;
  line-height: 14px;
  margin: 60px 0 25px 0;
}

.works-item {
  float: left;
  width: 380px;
  margin-right: 15px;

  min-height: 459px;
}

.works-item h2 {
  margin: 0;
  font-family: 'Roboto Slab', 'Georgia', serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 7px;
  margin-top: 10px;
}

.works-item h3 {
  color: #a8a8a8;
  margin: 0;
  font-family: 'Roboto Slab', 'Georgia', serif;
  font-weight: 400;
  font-size: 13px;
}

.works-item p {
  font-family: 'Roboto', 'Georgia', serif;
  font-weight: 400;
  font-size: 14px;
}

.works-item:last-child {
  margin-right: 0;
}

.quote {
  box-sizing: border-box;
  background-color: #efefef;
  height: 230px;
  text-align: center;
  padding-top: 55px;
}

.quote p {
  font-family: 'Roboto Slab', 'Georgia', serif;
  font-size: 20px;
  line-height: 30px;
  color: #a1a1a1;
}

footer {
  background-image: url(img/Footer-Bg.jpg);
  color: #cacaca;
  height: 460px;
}

.footer-wrap h2 {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-size: 18px;
  color: #6c6c6c;
  margin: 0;
}

.footer-wrap {
  font-family: 'Roboto', 'Georgia', sans-serif;
  box-sizing: border-box;
  padding-top: 45px;
  min-height: 347px;
  border-bottom: 2px solid #363636;
}

.contact {
  float: left;
  width: 292.5px;
  min-height: 347px;
}

.contact p {
  padding-right: 30px;
}

.contact address p {
  font-style: normal;
  padding-left: 20px;
  position: relative;
  margin: 0;
  padding-top: 4px;
}

.contact address p:first-child::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  
  width: 11px;
  height: 11px;
  
  background: url(img/footer-geoicon.svg) no-repeat;
}

.contact address p:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  
  width: 11px;
  height: 11px;
  
  background: url(img/footer-phoneicon.svg) no-repeat;
}

.contact address p:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  
  width: 11px;
  height: 11px;
  
  background: url(img/footer-mailicon.svg) no-repeat;
}

.tweets {
  float: left;
  width: 292.5px;
  min-height: 347px;
}

.tweets p {
  padding-left: 25px;
  padding-right: 40px;
  position: relative;
}

.tweets p::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  
  width: 11px;
  height: 11px;
  
  background: url(img/footer-tweet.png) no-repeat;
  
}

.popular {
  float: left;
  width: 292.5px;
  min-height: 347px;
  
}

.popular p {
  margin-bottom: 0;
  padding-right: 80px;
}

.popular time {
  font-size: 12px;
}

.about {
  float: left;
  width: 292.5px;
  min-height: 347px;
}

.about p {
  padding-right: 45px;
}

footer .copyright {
  font-family: 'Roboto', 'Arial', sans-serif;
}